@use "mapas" as *;
@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: RetornaMapa("fontes", "roboto");
    font-size: RetornaMapa("tamanhos", "pequeno");
}