@use "mapas" as *;
@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // fonte
    font-family: RetornaValorMapa($fontes, "robotos");
    font-size: RetornaValorMapa($tamanhos, "titulo");
    // cor
    color: RetornaValorMapa($cores, "branco");
    background-color: RetornaValorMapa($cores, "cinza-escuro");
}