@use "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // fonte
    font-family: var(--fontes-roboto);
    font-size: var(--tamanhos-titulo);
    // cor
    color: var(--cores-cinza_claro);
    background-color: var(--cores-cinza_escuro);
}

//classes
//usada como auxiliar de desenvolvimento, p/ visualizar os limites dos elementos
.visu {
    // border: 1px dashed var(--cores-branco);
}