@use "sass:map";

// mapas: fontes
$fontes: (
  roboto: (var(--font-roboto), sans-serif)
);

//cores
$cores: (
  branco: #ffffff,
  preto: #000000,
  cinza-claro: #f5f5f5,
  cinza-escuro: #333333,
);

//tamanhos
$tamanhos: (
  pequeno: 1rem,
  medio: 1.5rem,
  titulo: 2rem,
);

//funcoes: retorna um valor de um mapa
@function RetornaValorMapa($mapa, $nome) {
    //verifica se a chave existe no mapa
    @if map.has-key($mapa, $nome) {
        //retorna o valor da chave
        @return map.get($mapa, $nome);
    }
    //---
    @return null;
}