// mapas: fontes
$fontes: (
  roboto: (var(--font-roboto), sans-serif),
  playwrite: (var(--font-playwrite-au-nsw-guides), cursive)
);

//cores
$cores: (
  branco: #ffffff,
  preto: #000000,
  cinza-claro: #f5f5f5,
  cinza-escuro: #333333,
);

//tamanhos
$tamanhos: (
  pequeno: 1rem,
  medio: 1.5rem,
  titulo: 2rem,
);

//funcoes: retorna um valor de um mapa
@function RetornaMapa($mapa, $nome) {
    //verifica o nome do mapa
    @if $mapa == "fontes" {
        @return map-get($fontes, $nome);
    } @else if $mapa == "cores" {
        @return map-get($cores, $nome);
    } @else if $mapa == "tamanhos" {
        @return map-get($tamanhos, $nome);
    } @else {
        @return null;
    }
}